@page
@using Microsoft.Extensions.Localization
@using Reevo.LuckyDraw.Localization
@using Reevo.LuckyDraw.Web.Pages.LuckyDraw
@model Reevo.LuckyDraw.Web.Pages.LuckyDraw.IndexModel
@inject IStringLocalizer<LuckyDrawResource> L

@{
}
<h1>LuckyDraw</h1>
<p>@L["SamplePageMessage"]</p>
