@page "/LuckyDraw"
@using Microsoft.Extensions.Localization
@using global::Reevo.LuckyDraw.Localization
@inject IStringLocalizer<LuckyDrawResource> L
@{
}
<h1>LuckyDraw</h1>
<p>@L["SamplePageMessage"]</p>